@font-face {
    font-family: 'SourceSansPro-Black';
    src: url('../assets/fonts/Source_Sans_Pro/SourceSansPro-Black.ttf');
    src: url('../assets/fonts/Source_Sans_Pro/SourceSansPro-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro-BlackItalic';
    src: url('../assets/fonts/Source_Sans_Pro/SourceSansPro-BlackItalic.ttf');
    src: url('../assets/fonts/Source_Sans_Pro/SourceSansPro-BlackItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro-Bold';
    src: url('../assets/fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf');
    src: url('../assets/fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro-BoldItalic';
    src: url('../assets/fonts/Source_Sans_Pro/SourceSansPro-BoldItalic.ttf');
    src: url('../assets/fonts/Source_Sans_Pro/SourceSansPro-BoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro-ExtraLight';
    src: url('../assets/fonts/Source_Sans_Pro/SourceSansPro-ExtraLight.ttf');
    src: url('../assets/fonts/Source_Sans_Pro/SourceSansPro-ExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro-ExtraLightItalic';
    src: url('../assets/fonts/Source_Sans_Pro/SourceSansPro-ExtraLightItalic.ttf');
    src: url('../assets/fonts/Source_Sans_Pro/SourceSansPro-ExtraLightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro-Italic';
    src: url('../assets/fonts/Source_Sans_Pro/SourceSansPro-Italic.ttf');
    src: url('../assets/fonts/Source_Sans_Pro/SourceSansPro-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro-Light';
    src: url('../assets/fonts/Source_Sans_Pro/SourceSansPro-Light.ttf');
    src: url('../assets/fonts/Source_Sans_Pro/SourceSansPro-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro-LightItalic';
    src: url('../assets/fonts/Source_Sans_Pro/SourceSansPro-LightItalic.ttf');
    src: url('../assets/fonts/Source_Sans_Pro/SourceSansPro-LightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro-Regular';
    src: url('../assets/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf');
    src: url('../assets/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro-SemiBold';
    src: url('../assets/fonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf');
    src: url('../assets/fonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro-SemiBoldItalic';
    src: url('../assets/fonts/Source_Sans_Pro/SourceSansPro-SemiBoldItalic.ttf');
    src: url('../assets/fonts/Source_Sans_Pro/SourceSansPro-SemiBoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
